force-app/main/default/flows/Create_Primary_Opportunity_Contact_Role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Opportunity_Contact_Role_ID</name>
        <label>Check OCR ID</label>
        <locationX>168</locationX>
        <locationY>162</locationY>
        <defaultConnector>
            <targetReference>Update_OCR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityContactRoleID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Contact_Role</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <description>Flow to automatically create Primary Opportunity Contact Role from fields on opportunity record.</description>
    <interviewLabel>Create Primary Opportunity Contact Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Primary Opportunity Contact Role</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity_Contact_Role</name>
        <label>Create OCR</label>
        <locationX>169</locationX>
        <locationY>290</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>PrimaryContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <elementReference>ContactRole</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordLookups>
        <name>Search_for_OCR</name>
        <label>Search for OCR</label>
        <locationX>168</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_Contact_Role_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryContactID</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputAssignments>
            <assignToReference>OpportunityContactRoleID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_OCR</name>
        <label>Update OCR</label>
        <locationX>332</locationX>
        <locationY>293</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryContactID</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <elementReference>ContactRole</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordUpdates>
    <startElementReference>Search_for_OCR</startElementReference>
    <status>Active</status>
    <variables>
        <description>Pulls Contact Role from picklist on Opportunity into Opportunity Contact Role information</description>
        <name>ContactRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Hold new Opportunity Contact Role ID</description>
        <name>OpportunityContactRoleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Holds Opportunity ID</description>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Holds Primary Contact ID to create Primary Contact Role</description>
        <name>PrimaryContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
